<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NYCTravelKit</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServelet</display-name>
    <servlet-name>TestServelet</servlet-name>
    <servlet-class>com.wse.NYCTravelKit.TestServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServelet</servlet-name>
    <url-pattern>/TestServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLatLong</display-name>
    <servlet-name>GetLatLong</servlet-name>
    <servlet-class>com.wse.NYCTravelKit.GetLatLong</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLatLong</servlet-name>
    <url-pattern>/GetLatLong</url-pattern>
  </servlet-mapping>
</web-app>